{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landingPage</title>
    <link rel="stylesheet" href="{% static '/LP.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap"rel="stylesheet"/>
</head>
<body>
    <div class="flexible">
        <div class="nav-bar">
                <a href="#"style="text-decoration: none;"><h1 class="A" >Pose<span>cessor</span></h1></a>
            </div>

        <div class="all">

            

            <div class="yellow">
                <div class="Getting "><h2>Getting start on still life</h2></div>
                <div class="Thisstep"><h3>This step by step lesson will teach you the drawing techniques used to create a still  life with a 2B pencil on cartridge paper.</h3></div>
            </div>

            <div class="white">

            <div class="step1"><h2>Step 1 - Starting a still life drawing</h2></div>
            <div class="photo1"><img src="{% static '/image/LP/image 18.svg' %}"></div>
            <div class="wordlong"><h3>
                <p>In any still life, you should start to draw the objects as if they are transparent wire frame forms with visible lines of construction. This technique helps you to be fully aware of the shape of each individual form and its position in relation to the other forms.</p>
                <p>-It is important to sketch the objects lightly as this makes it easier to change any mistakes and erase any lines of construction.</p>
                <p>-This see-through drawing technique uses vertical and horizontal lines of construction to help you to draw convincing ellipses and to balance the symmetry of cylindrical forms.</p></h3></div>
            <div class="step2"><h2>Step 2 - Creating an interesting composition</h2></div>
            <div class="photo1"><img src="{% static '/image/LP/image 19.svg' %}"></div>
            </div>
        </div>
    </div>
</body>
</html>